<%= render 'layouts/header' %>
<div class="container">
  <h2>topページ</h2>
  <%= link_to "新規作成", new_user_path %>

<ul class="users">
<% @users.each do |user| %>
  <li>
    <%= link_to(user_path(user.id)) do %>
      <span>id: <%= user.id %></span><br>
    <span>name: <%= user.name %></span>
  <% end %>
  </li>
<% end %>
</ul>
</div>
